# To use this RUN:
#
# git config --local include.path ../.gitconfig
#

[diff "xyzdiffer"]
    command = ./differ.py  # Replace with full path to differ.py.
    # Custom file type for testing external git tools.
    # wordRegex = "\\\\[a-zA-Z]+|[{}]|\\\\.|[^\\{}[:space:]]+"
    # renames = true

[merge "xyzmerger"]
    driver = ./merger.py  %O %A %B %L %P # Replace with full path to merger.py.
    trustExitCode = true
    prompt = false
